@model DTO.Request.TransactionRequestDto


<form id="charge-card">
    <div class="form-wapper">
        <div class="form-wapper_logo">
            <img src="~/assets/images/logo.png" alt="#" />

        </div>
        <div class="form-wapper_header">
            סובסקרייבט היינט און ברענגט א פארגעניגען פאר די גאנצע משפחה
        </div>
        <div class="form-wapper_form">
            <div class="form-box">
                <div class="form-header">
                    <h2>Customer Info</h2>
                    <input type="hidden" asp-for="ExpYear" />
                    <input type="hidden" asp-for="ExpMonth" />
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="name">First Name*</label>
                            <input type="text" placeholder="First Name" class="form-control" asp-for="FirstName" id="FirstName">
                            <span asp-validation-for="FirstName" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="name">Last Name*</label>
                            <input type="text" placeholder="Last Name" class="form-control" asp-for="LastName" id="LastName">
                            <span asp-validation-for="LastName" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="name">Address*</label>
                            <input type="text" placeholder="Address" class="form-control" asp-for="Address" id="Address">
                            <span asp-validation-for="Address" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="City">City*</label>
                            <select name="City" id="City" class="form-select" asp-for="City">
                                <option value="">select</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY" selected="selected">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                                <option value="OT">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="name">Zip*</label>
                            <input type="text" placeholder="Zip" class="form-control" asp-for="Zip" id="Zip">
                            <span asp-validation-for="Zip" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="name">Phone*</label>
                            <input type="text" placeholder="Phone Number" class="form-control" asp-for="PhoneNumber" id="PhoneNumber">
                            <span asp-validation-for="PhoneNumber" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="name">Email</label>
                            <input type="text" placeholder="Email" class="form-control" asp-for="Email" id="Email">
                        </div>
                    </div>
                </div>

            </div>
           
                <div class="check d-flex gap-1">
                    <input type="checkbox" class="form-check-input" name="check" asp-for="IsDeliveryAddress">
                    <label for="check">Deliver to a different address</label>
                </div>

                <div class="form-box showhide-CheckBox">
                    <div class="form-header">
                        <h2>Delivery Details</h2>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="name">Name*</label>
                                <input type="text" class="form-control" asp-for="DeliveryName" id="DeliveryName">
                                <span asp-validation-for="DeliveryName" class="text-danger errormsg"></span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="name">Address*</label>
                                <input type="text" class="form-control" asp-for="DeliveryAddress" id="DeliveryAddress">
                                <span asp-validation-for="DeliveryAddress" class="text-danger errormsg"></span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label for="DeliveryCity">City*</label>
                                <select name="DeliveryCity" id="DeliveryCity" class="form-select" asp-for="DeliveryCity">
                                    <option selected>select</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY" selected="selected">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                    <option value="OT">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <label for="name">Zip*</label>
                                <input type="text" class="form-control" asp-for="DeliveryZip" id="DeliveryZip">
                                <span asp-validation-for="DeliveryZip" class="text-danger errormsg"></span>
                            </div>
                        </div>
                    </div>
                </div>
            

            <!-- Middle banner -->
            @if (@Model.UserId > 0)
            {
                <div class="form-middle-banner">
                    <p>פרייז</p>
                    <p>בלויז  $ פאר א יאהר</p>
                    <input type="number" class="form-control w-50 m-auto" asp-for="Amount" />
                    <h2 class="d-flex justify-content-center">( $ <div class="ms-2" id="divAmountPerMonth">@Model.AmountPerMonth</div><span class="ms-2">Monthly</span> )</h2>
                    <p>(אריינגערעכענט פארגרעסערטע יו”ט אויסגאבעס)</p>
                    <input type="hidden" asp-for="AmountPerMonth" />
                </div>

            }
            else
            {
                <div class="form-middle-banner">
                    <p>פרייז</p>
                    <p>בלויז $@Model.Amount פאר א יאהר</p>
                    <h2>($@Model.AmountPerMonth Monthly)</h2>
                    <p>(אריינגערעכענט פארגרעסערטע יו”ט אויסגאבעס)</p>

                    <input type="hidden" asp-for="Amount" />
                    <input type="hidden" asp-for="AmountPerMonth" />
                </div>

            }

            <div class="form-box">
                <div class="form-header">
                    <h2>Payment Info</h2>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="name">Card Title*</label>
                            <input type="text" class="form-control" asp-for="CardTitle" id="CardTitle" placeholder="Card Title">
                            <span asp-validation-for="CardTitle" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="name">Card Number*</label>
                            <input type="text" class="form-control credit-card" asp-for="CreditCardNumber" placeholder="Card Number" maxlength="16" minlength="12" onkeypress="return isNumber(event)" autocomplete="off">
                            <span asp-validation-for="CreditCardNumber" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="name">Exp.*</label>
                            <input type="text" class="form-control exp-date" asp-for="ExpDate" maxlength="4" minlength="3" placeholder="MMYY" onkeypress="return isNumber(event)" onchange="showHideExpDateErrorMsg()" autocomplete="off">
                            <span asp-validation-for="ExpDate" class="text-danger errormsg"></span>
                            <span class="error-msg text-danger errormsg d-none"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="name">CVV*</label>
                            <input type="text" class="form-control cvv" asp-for="Cvv" placeholder="CVV" maxlength="4" placeholder="XXXX" onkeypress="return isNumber(event)">
                            <span asp-validation-for="Cvv" class="text-danger errormsg"></span>
                        </div>
                    </div>
                </div>

                <div class="check py-2 gap-1">
                    <input type="checkbox" class="form-input" name="check" asp-for="IsAutoRenew">
                    <label for="check">Auto Renew</label>
                </div>

            </div>
            <div class="form-footer text-end">
                <button class="btn" id="resetBtn">Reset</button>
                <button type="button" class="btn btn-primary" onclick="ChargeCard()">Confirm Order</button>
            </div>
        </div>
    </div>
    <div class="loader" style="display:none"><div class="spinner"><img src="~/assets/images/loader.svg" /></div></div>
</form>
<script src="~/assets/js/chargecard/charge-card.js" asp-append-version="true"></script>


