
<style>
    .tonepage .form-button {
        display: flex;
        max-width: 502px;
        margin: 3rem auto auto;
        grid-gap: 15px;
    }
</style>

<div class="text-center tonepage">
    <h1 class="display-4">Welcome</h1>
    <div class="form-button">
        @* <button class="btn btn-primary btn-lg w-100 mb-3" onclick="addNewform()">Add</button> *@
        <a href="@Url.Action("ChargeCardform", "Payment")" class="btn btn-primary site-default-btn float-md-right mt-0 ml-3" target="_blank">View</a>
    </div>
</div>
<script src="~/assets/js/chargecard/charge-card.js" asp-append-version="true"></script>
