@model DTO.Request.ChargeCardRequestDto


<form class="new-org-donation" id="donation-method">
    <div class="form-wapper">
        <div class="signin-link text-end">
            <a href="#" class="link-underline link-underline-opacity-0">Login</a>
        </div>
        <div class="form-wapper_logo">
            <img src="~/assets/images/logo.png" alt="#" />

        </div>
        <div class="form-wapper_header">
            סובסקרייבט היינט און ברענגט א פארגעניגען פאר די גאנצע משפחה
        </div>
        <div class="form-wapper_form">
            <div class="form-box">
                <div class="form-header">
                    <h2>Customer Info</h2>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="name">First Name*</label>
                            <input type="text" class="form-control" asp-for="FirstName" id="FirstName">
                            <span asp-validation-for="FirstName" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="name">Last Name*</label>
                            <input type="text" class="form-control" asp-for="LastName" id="LastName">
                            <span asp-validation-for="LastName" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="name">Address*</label>
                            <input type="text" class="form-control" asp-for="Address" id="Address">
                            <span asp-validation-for="Address" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="name">City*</label>
                            <input type="text" class="form-control" asp-for="City" id="City">
                            <span asp-validation-for="City" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="name">Zip*</label>
                            <input type="text" class="form-control" asp-for="Zip" id="Zip">
                            <span asp-validation-for="Zip" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="name">Phone*</label>
                            <input type="text" class="form-control" asp-for="PhoneNumber" id="PhoneNumber">
                            <span asp-validation-for="PhoneNumber" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="name">Email</label>
                            <input type="text" class="form-control" name="" id="">
                        </div>
                    </div>
                </div>
                <div class="check">
                    <input type="checkbox" class="form-check-input" name="check">
                </div>
            </div>
            <div class="form-box">
                <div class="form-header">
                    <h2>Delivery Details</h2>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="name">Name*</label>
                            <input type="text" class="form-control" asp-for="Name" id="Name">
                            <span asp-validation-for="Name" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="name">Address*</label>
                            <input type="text" class="form-control" asp-for="Address" id="Name">
                            <span asp-validation-for="Address" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="name">City*</label>
                            <select name="" id="" class="form-select">
                                <option selected>select</option>
                                <option value="1">NZ</option>
                                <option value="1">IND</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="name">Zip*</label>
                            <input type="text" class="form-control" asp-for="Zip" id="Zip">
                            <span asp-validation-for="Zip" class="text-danger errormsg"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Middle banner -->
            <div class="form-middle-banner">
                <p>פרייז</p>
                <p>בלויז $325.00 פאר א יאהר</p>
                <h2>($27.08 Monthly)</h2>
                <p>(אריינגערעכענט פארגרעסערטע יו”ט אויסגאבעס)</p>
            </div>
            <div class="form-box">
                <div class="form-header">
                    <h2>Payment Info</h2>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="name">Card Title*</label>
                            <input type="text" class="form-control" asp-for="CardKnoxId" id="CardKnoxId">
                            <span asp-validation-for="CardKnoxId" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="name">Card Number*</label>
                            <input type="text" class="form-control" asp-for="CreditCardNumber" id="CreditCardNumber">
                            <span asp-validation-for="CreditCardNumber" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="name">Exp.*</label>
                            <input type="text" class="form-control" asp-for="ExpYear" id="ExpYear">
                            <span asp-validation-for="ExpYear" class="text-danger errormsg"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="name">CVV*</label>
                            <input type="text" class="form-control" asp-for="Cvv" id="Cvv">
                            <span asp-validation-for="ExpYear" class="text-danger errormsg"></span>
                        </div>
                    </div>
                </div>
                <div class="check py-2">
                    <input type="checkbox" class="form-check-input" name="check">
                </div>
            </div>
            <div class="form-footer text-end">
                <button class="btn">Reset</button>
                <button class="btn btn-primary" onclick="ChargeCard()">Confirm Order</button>
            </div>
        </div>
    </div>

</form>
<script src="~/assets/js/chargecard/charge-card.js" asp-append-version="true"></script>

