@{
    ViewData["Title"] = "Home Page";
}
<style>
   .tonepage .form-button {
    display: flex;
    max-width: 502px;
    margin: 3rem auto auto;
    grid-gap: 15px;
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="text-center tonepage">
    <h1 class="display-4">Welcome</h1>
    <div class="form-button">
        <button class="btn btn-primary btn-lg w-100 mb-3 tone-kj">Tone KJ</button>
        <button class="btn btn-primary btn-lg w-100 mb-3 tone-linden">Tone Linden</button>
    </div>
</div>
