@model DTO.Request.CityCharge.CityChargeRequestDto
<form class="city-form">
    <div class="modal create-city-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog city-charge">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add City</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="dv-inner-feature">
                    <div class="modal-body">
                        <div class="addcity-charge">
                            <div class="d-flex gap-2 align-items-center">
                                <label for="CityName" class="col-form-label">Name:</label>
                                <input type="text" placeholder="City Name" class="form-control" asp-for="CityName">
                            </div>
                            <div class="d-flex gap-2 align-items-center">
                                <label for="Price" class="col-form-label">Price:</label>
                                <input type="text" placeholder="City Price" class="form-control" asp-for="Price">
                            </div>
                            <div class="d-flex gap-2 align-items-center">
                                <a href="javascript:void(0);" onclick="AddNew()" class="add-icon btn btn-primary"><i class="fas fa-plus-circle"></i></a>
                                <a href="javascript:void(0);" onclick="AddNew()" class="add-icon btn btn-primary"><i class="fas fa-minus-circle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="saveUpdate()">Save</button>
                </div>
            </div>
        </div>
    </div>


</form>
<script src="~/assets/js/chargecard/charge-card.js" asp-append-version="true"></script>


