@using Common.Helper;
@using Common;
@using Common.Settings;
@using Microsoft.Extensions.Options;
@inject IOptions<AppSettings> Settings
@{
    
    var returnurl = ViewData["ReturnUrl"] != null ? ViewData["ReturnUrl"].ToString() : string.Empty;
    var userId = 0;        
    var userDetail = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<UserRequest>("LoggedInUserDetails", Settings.Value.Secret);
    if (userDetail != null)
    {
       
        userId = userDetail.UserId;
    }
    
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Third Party css -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <!-- Theme css-->
    <!-- Ag-Grid-->
    <link href="~/assets/css/ThirdPartyPlugIn/Ag-Grid/ag-grid.v25.0.1.css" rel="stylesheet" />
    <link href="~/assets/css/ThirdPartyPlugIn/Ag-Grid/ag-theme-balham.v25.0.1.css" rel="stylesheet" />
    <!-- Ag-Grid-->
    <link href="../assets/css/styles.css" rel="stylesheet" asp-append-version="true">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1e4904eb32.js" crossorigin="anonymous"></script>
    <script src="~/assets/js/ThirdPartyPlugIn/Jquery/jquery.min.js"></script>
    <script src="~/assets/js/ThirdPartyPlugIn/Jquery/jQuery.Unobtrusive.Ajax.min.js"></script>
    <script src="~/assets/js/ThirdPartyPlugIn/Popper/popper.min.js"></script>
    <script src="~/assets/js/ThirdPartyPlugIn/Bootstrap/bootstrap.min.js"></script>
    <script src="~/assets/js/ThirdPartyPlugIn/Bootstrap/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/js/ThirdPartyPlugIn/InputMask/jquery.inputmask.js"></script>
    <script src="~/assets/js/ThirdPartyPlugIn/Jquery/jquery.validate.min.js"></script>
    <script src="~/assets/js/ThirdPartyPlugIn/Jquery/jquery.validate.unobtrusive.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
    <script src="~/assets/js/ThirdPartyPlugIn/Ag-Grid/ag-grid-enterprise.min.noStyle.v25.0.1.js"></script>
    <script src="~/assets/js/ThirdPartyPlugIn/Signalr/signalr.min.js"></script>
    <script src="~/assets/js/custom.js" asp-append-version="true"></script>



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    @* <link rel="stylesheet" href="~/assets/css/style.css"> *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">           
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        @if (userId == 0)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-action="Login" asp-controller="Authorize" asp-route-returnurl="@returnurl">Log In</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-action="LogOut" asp-controller="Authorize" >Sign out</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)

    <div class="div-modal"></div>

    <div class="modal fade sucess-fail-modal" tabindex="-1" aria-labelledby="sucessfailuserModal" aria-hidden="true" style="z-index:1058!important;">
        <div class="modal-dialog  modal-dialog-centered modal-import">
            <div class="modal-content">
                <div class="modal-body delete-complete">
                    <div class="">
                        <div class="text-center">
                           @*  <img src="~/assets/images/payment-failed.svg" alt=""> *@
                            <h2>
                                Error
                            </h2>
                            <p class="donation-error">
                            </p>
                            <p>A receipt was sent to your email</p>
                        </div>
                        <div class="modal-button justify-content-center">
                            <button type="button" class="btn btn-primary  btn-md px-4" data-bs-dismiss="modal" aria-label="Close">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

